@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Food Market</h1>
    <p>
        We pride ourselves on providing the freshest and highest quality produce to our customers.
        <br />
        From juicy fruits to crisp vegetables, we have everything you need to make healthy and delicious meals at home.
        <br />
        Experience the convenience of ordering online and get your fresh produce delivered to your doorstep today.
    </p>
    
    <img src="https://img.freepik.com/free-photo/close-up-hand-holding-paper_23-2148767105.jpg?w=1060&t=st=1683638793~exp=1683639393~hmac=bd6f21623c56de88f6a5e9723c00d4ca60fa40d282b1928d73c13872d1cb6faa" alt="Fresh produce at your doorstep"" width="1000" height="714">

</div>

