@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Food Market</h1>
    <p>
        We pride ourselves on providing the freshest and highest quality produce to our customers.
        <br />
        From juicy fruits to crisp vegetables, we have everything you need to make healthy and delicious meals at home.
        <br />
        Experience the convenience of ordering online and get your fresh produce delivered to your doorstep today.
    </p>


    @*<img src="@Url.Content("~/Views/Home/welcomefoodmarket.jpeg")" alt="Fresh produce at your doorstep"/>*@
</div>

