@*
    AUTHENTICATION VERIFICATION FOR ADMIN
    bara admin ska kunna svara
    Admin svara på användares message
*@

<h1>Edit Tickets</h1>

<p>

    choose ticket to edit<br />

    list of all Tickets<br />

    ticket nr <br />
    message<br />
    reply<br />
    edit button<br />
    delete button<br />
    -----------------<br />
</p>