@*
    @model AdminLoginViewModel
    testsida, behöver fixas

    LOGIN FORM
    USERNAME: Admin
    PASSWORD: Password123

    after login - redirect to all tickets
    ska göra fler view pages för admin

*@
<form asp-action="Tickets" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <button type="submit">Log In</button>
</form>
