@*
    AUTHENTICATION VERIFICATION FOR ADMIN
    baar admin ska kunna se

    lista av alla inkomna tickets, med svar och en edit knapp
*@

<h1>List of all Tickets</h1>

<p>
    Tickets <br />

    ticket nr <br />
    Subject <br
    ticket <br />
    reply<br />
    edit button<br />
    delete button<br />
    ----------- <br />
</p>