@* Confirmation page *@

<div>
    <h1>Thank you for your message</h1>
    <p>
        We will respond to you as quickly as possible! <br />


        Your account is registered.
        Click <a asp-controller="User" asp-action="Details">here</a> to view your messages and responses.

    </p>
</div>
