@* SUPPORT INDEX - form to create ticket for user*@


<div>
    <h1>Contact</h1> <br />

    <p>
        We love to hear from our Food Market-Customers. Ska skriva lite mer text här
    </p>

    <p>Maybe your questions already has been answered, check our <a asp-controller="User" asp-action="faq">FAQ</a>.</p>

    <p>Send a message</p>

    @*the input in the form will be sent to a method called create in the UserController*@
    <form asp-action="Create" method="POST">

        Name* <br />
        <input type="text" name="Name" required /> <br />

        Password* <br />
        <input type="password" name="Password" required /> <br />

        Email* <br />
        <input type="email" name="Email" required /> <br />

        Subject* <br />
        <input type="subject" name="Subject" required /> <br />

        Your message* <br />
        <input type="text" name="Message" required /> <br /> <br />

        <input type="submit" value="Send" />
    </form>

    <br />
    <p>Feel free to send us an email support@foodmarket.com</p>

</div>