@* made by Amanda *@

@* Confirmation page - for user*@

<div>
    <h1>Thank you for your message</h1>
    <p>
        We will respond to you as quickly as possible! <br />

        Click <a asp-controller="Ticket" asp-action="MyTickets">here</a> to view your messages and responses.

    </p>
</div>
