@* made by Amanda *@

@* Confirmation page - for user*@

<div>
    <h1>Thank you for your message</h1>
    <p>
        We will respond to you as quickly as possible! <br />

        Click <u><a asp-controller="Ticket" asp-action="MyTickets">here</a></u> to view your messages and responses.

    </p>
</div>
