@* made by Amanda *@

@* Delete confirmation *@

<div>
    <h1>The ticket has been deleted</h1>
    <p>

        Click <u><a asp-controller="Ticket" asp-action="AllTickets">here</a></u> to view and edit more tickets.

    </p>
</div>
