@* Delete confirmation *@

<div>
    <h1>The ticket has been deleted</h1>
    <p>

        Click <a asp-controller="Ticket" asp-action="AllTickets">here</a> to view and edit more tickets.

    </p>
</div>
