@* Frequenlty Asked Questions *@

<style>
    .ticketdiv {
        margin-bottom: 10px;
        padding: 16px;
        max-width: 600px;
        min-width: 60%;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }
</style>

<h1>Frequently Asked Questions</h1>


<div class="ticketdiv">
    <p>
        <strong><span>What types of food do you offer?</span></strong><br />
        We offer a wide variety of food options, including fresh produce, meats, seafood, dairy products, baked goods, snacks, and pantry essentials.
    </p>
</div>

<div class="ticketdiv">
    <p>
        <strong><span>Are your products organic or locally sourced?</span></strong><br />
        Yes, we strive to provide organic and locally sourced products whenever possible. We believe in supporting local farmers and promoting sustainable agriculture.
    </p>
</div>

<div class="ticketdiv">
    <p>
        <strong><span>How can I place an order?</span></strong><br />
        You can place an order through our website. Simply browse our product catalog, select the items you want, and proceed to checkout.
    </p>
</div>

<div class="ticketdiv">
    <p>
        <strong><span>What payment methods do you accept?</span></strong><br />
        As of right now, we only accept credit cards as a payment method.
    </p>
</div>

<div class="ticketdiv">
    <p>
        <strong><span>Is there a minimum order requirement?</span></strong><br />
        Yes, we have a minimum order requirement of $2 or 20 kr. This helps us ensure efficient delivery and manage our operational costs.
    </p>
</div>

<div class="ticketdiv">
    <p>
        <strong><span>How much does shipping cost?</span></strong><br />
        We are pleased to offer free shipping on all orders. Yes, you read that right - shipping is on us!
        We believe that every customer deserves a hassle-free shopping experience, without any extra costs for delivery
    </p>
</div>

<div class="ticketdiv">
    <p>
        <strong><span>How long does shipping take?</span></strong><br />
        Our standard shipping time is 2-3 days. However, please note that certain factors such as location and unforeseen circumstances may affect the delivery timeline.
    </p>
</div>

<div class="ticketdiv">
    <p>
        <strong><span>Can I track my order?</span></strong><br />
        Yes, once your order is shipped, we will provide you with a tracking number. You can use this number to track the status of your order through our website or by contacting our customer support.
    </p>
</div>

<div class="ticketdiv">
    <p>
        <strong><span>What if I receive damaged or spoiled products?</span></strong><br />
        Your satisfaction is our top priority, and we want to make it right for you. If you encounter any issues with the quality of the items you receive,
        please contact our customer support within 7 days of delivery. Our dedicated team will be more than happy to assist you. <br /><br />

        We offer two options to resolve such situations:<br />

        <strong>Replacement:</strong><br />
        We will promptly send you a new set of items to replace the damaged or spoiled ones, free of charge.
        Your satisfaction is important to us, and we want to ensure that you receive the products in the best possible condition.<br />

        <strong>Refund:</strong> <br />
        If you prefer, we can issue a full refund for the damaged or spoiled items. We understand that this may be disappointing,
        and we want to make sure you are completely satisfied with your purchase. Our customer support team will guide you through the refund process.
    </p>
</div>